* {  Margin: 0;  padding: 0;  box-sizing: border-box; }

/*Flex*/
#subNav, #upperRow, #lowerRow, #ejercicios, p{
    display: flex;
    padding: 5px;
    border: 5px;
    margin: 5px;
}
body, #subNav{
    flex-direction: column;
}
#upperRow, #lowerRow{
    flex-direction: row;
}
#upperRow{
    justify-content: space-between;
}
.language{
    padding:5px;
}
#logo{
    width: 70px;
    height: 70px;
    filter: hue-rotate(270deg);
}
/*Padding, Border y margin*/
p{
    padding: 5px;
    border: 5px;
    margin: 5px;
    flex-basis: 20%;
    flex-grow: 1;
    box-shadow: 0 0 7px rgb(99, 98, 98);
    border-radius: 5px;
}
#ejercicios{
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    justify-content: center;
    flex-grow: 1;
}

/*Colores para distinguir
#subNav{
    background-color: cadetblue;
}
#upperRow{
    background-color: chocolate;
}
#lowerRow{
    background-color: crimson;
}
p{
    background-color: blueviolet;
}
#ejercicios{
    background-color: brown;
}*/