* {  Margin: 0;  padding: 0;  box-sizing: border-box; }

/*Flex*/
body, nav, #subNav, #upperRow, #lowerRow, #ejercicios, p{
    display: flex;
    padding: 5px;
    border: 5px;
    margin: 5px;
}
body, #subNav{
    flex-direction: column;
}
nav, #upperRow, #lowerRow{
    flex-direction: row;
}
#upperRow{
    justify-content: space-between;
}
#logo{
    width: 70px;
    height: 70px;
    filter: hue-rotate(270deg);
}
/*Padding, Border y margin*/
p{
    padding: 5px;
    border: 5px;
    margin: 5px;
    background-color: blueviolet;
    flex-basis: 30%;
}
#ejercicios{
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    background-color: brown;
    flex-grow: 1;
}

p{
    padding: 15px;
    border: 5px;
    margin: 15px;
}
/*Colores para distinguir*/
nav{
    background-color: aquamarine;
}
#subNav{
    background-color: cadetblue;
}
#upperRow{
    background-color: chocolate;
}
#lowerRow{
    background-color: crimson;
}