*{box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color:#0F1026 ;
    display: flex;
    flex-direction: column;
    color: #CCCCD3;
    font-family: 'Inter', sans-serif;
}

header{
text-align: center;
}

.logo{
    height: 145px;
    
}



/*boton agregado*/
button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 13px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .1s;
    height: 35px;
    width: 100px;
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }
  /*cierra boton*/

  main{
      display: flex;
      flex-direction: column;
     align-items: center;
     gap: 40px;
  }
.sobreNosotros{
    width:80%;
    height: 300px;
 display: flex;
 flex-direction: column;
 gap: 30px;
 margin-top: 100px;
 

}
h1{
    align-self: flex-start;
}
/*visualizacion de cursos abre*/
.contCursos{
    width: 70%;
    height: 400px;
  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
   
}
.opciones{
    width: 30%;
    height: 150px;
  
    display: flex;
  justify-content: center;
}
.ImgsCursos{
    width: 50%;
    height: 100%;
}
 /*visualizacion de cursos cierra*/

/*experiencias dev abre */
.experienciasDev{
    width: 90%;
    height: 361px;
   
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.cajasExpe{
    width:350px;
    height: 320px;
    border-radius: 45% 55% 34% 66% / 60% 39% 61% 40%  ;
    background: linear-gradient(90deg, rgb(84, 15, 130) 0%, rgb(186, 0, 196) 100%);
    display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
   box-shadow: -1px 3px 67px 0px rgba(67, 67, 67, 0.65);
   
}
.imgDev{
    width: 40%;
    height: 40%;
    border-radius: 50%;
   
}
.cajasExpe> p{
  padding-bottom: 40px;
}
/*experiencias dev cierra */

  /*footer abre*/
  footer{
      width: 100%;
      height: 150px;
     display: flex;
     flex-direction: row;
     align-items: center;
     
     
     background-color:#551CA6;
  }
  
  .divsFooter{
      width: 24%;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .divLogoFooter{
    width: 24%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoFooter{
    width:150px;
    height: 80px;
}
 .divRedes{
    width: 24%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
 }
 .cajitaR{
     width: 30%;
     height: 60%;
display: flex;
flex-direction: row;
justify-content: center;

 }
  h5{
      width:30%
  }
  ul{
      width: 30%;
      display: flex;
      flex-direction: column;
  }







  nav {
	width: 100%;
	height: 65px;
	background-color: white;
	display: flex;
	align-content: center;
	box-shadow: 0 15px 25px 0 rgb(0,0,0,0.2),
				0 -15px 25px 0 rgb(0,0,0,0.2)
}

@media (max-width: 600px) {

	.hmbBoton {
		position: absolute;
		margin: 13px 0 0 10px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 7px;
	}


	.hmbBoton:hover .lineOpen{
		background-color: white;
	}


	.hmbBoton:hover .Cross{
		background-color: white;
	}

	.line {
		transition: 300ms;
		border-radius: 3px;
		margin-top: -22px;
		width: 30px;
		height: 5px;
		background-color: #9712A4;
		box-shadow: 0 10px 0 0 #9712A4,  0 20px 0 0 #9712A4;
	}

	.lineOpen {
		transition: 100ms;
		transform: rotate(45deg);
		border-radius: 3px;
		width: 30px;
		height: 5px;
		background-color: white;

	}

	.Cross {
		display: none;
		transition: 100ms;
		transform: rotate(90deg);
		border-radius: 3px;
		width: 30px;
		height: 5px;
		background-color: white;
	}

	.menuMobile {
		background-color: #9712A4;
		border-radius:50%;
		width: 400px;
		height: 350px;
		margin: -40px 0 0 -150px;
		display: none;
		justify-content: center;
		text-align: center;
		align-items: center;
		z-index: 0;
		box-shadow: 10px 10px 10px 0 rgb(0,0,0,0.2),
					0 0 5px 5px rgb(0,0,0,0.15);
	}

	.menuMobile ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0 -80px -100px 0;
		}

	.menuMobile li {
		display: flex;
		background-color: #9712A4;
		background-image: transparent;
		padding: 15px;
		border-radius: 5px;
		margin-bottom:20px;
	}

    .btnLogin a{
        margin-bottom: 35px;
       
    }

   

	.menuMobile li:hover {
		display: flex;
		background-color: white;
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 30px;
	}

	.menuMobile li:hover a {
		text-decoration: none;
		user-select: none;
		color: #9712A4;
		font-size: 18px;
	}

	.menuMobile ul a {
		text-decoration: none;
		user-select: none;
		color: black;
		font-family: 'Mulish', sans-serif;
	}

	.menuWeb {
		display: none;
	}

}

@media (min-width: 600px) {

	header {
		transition: 500ms;
		height: 150px;
	}

	.menuMobile {
		display: none;
	}

	.menuMobile ul a {
		display: none;
	}

	.menuWeb {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 100%;
		margin-top: 8px;
	}

	.menuWeb ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		}

	.menuWeb li {
		transition: 500ms;
		display: flex;
		background-color: white;
		padding: 10px;
		border-radius: 5px;
	}


	.menuWeb li:hover {
		transition: 500ms;
		background-color: #9712A4;
	}

	.menuWeb li:hover a {
		color: white;
	}

	.menuWeb ul a {
		text-decoration: none;
		user-select: none;
		color: #9712A4;
		font-family: 'Mulish', sans-serif;
	}

}