* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #232340
#D0099E
#9712A4
#551CA6
#0F1026 */

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  }
  




.tituloInterface ul{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.tituloInterface li{
    text-decoration: none;
}

.boxPrincipal{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 560px;
}



.tituloCurso{
    font-family: 'Inter', sans-serif;
    color: black;
    margin-top: 5px;
    text-align: center;
   
}

iframe{
    
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.cajaText{
    padding: 40px;
display: flex;
flex-direction: column;

    margin-top: 20px;
    
    font-size: 20px;
}

.listaVideos {
    list-style: none;
    display: flex;
    flex-direction: column;
    
   height: 470px;
   
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
    border-radius: 6px;

}

.listaVideos li{
    margin-top: 15px;
}





  .btnPractica{
      width: 150px;
      margin-top:10px;
  }

  .btnVideo{
    width: 150px;
    height: 60px;
   
    
  }


  /* From uiverse.io */
.btnVideo {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   .btnVideo:active,
   .btnVideo:hover {
    outline: 0;
   }
   
   .btnVideo span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   .btnVideo:hover span {
    background: none;
   }
   
   .btnVideo:active {
    transform: scale(0.9);
   }

.tituloCurso1{
    display: none;
}




  header{
    text-align: center;
    }
    
    .logo{
        height: 115px;
        
    }


  nav {
	width: 100%;
	height: 65px;
	background-color: #9712A4;
	display: flex;
}


footer{
    width: 100%;
    height: 150px;
   display: flex;
   flex-direction:column;
   margin-top: 70px;
   color:white;
   background-color:#9712A4;
}

.padreFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    
}

.divsFooter{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
     
}

.logoFooter{
  width:140px;
  height: 80px;
  margin-left: 22px;
  margin-bottom: 8px;
}
.divRedes{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
}


@media (max-width: 990px){
    .boxPrincipal{
        display: flex;
        flex-direction: column;
    }

    .listaVideos{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .btnPractica{

        width: 150px;
        margin-left: 20px;
    }

    iframe{
        width: 100%;
        margin-top: 30px;
    }

    .cajaText{
        width: 100%;
    }

    .tituloCurso{
        display: none;
    }

    .tituloCurso1{
        display: inline-block;
        font-family: 20px;
        font-family: 'Inter', sans-serif;
        margin-left: 10px;
        margin-top: 25px;
        
    }

  
    
    
}
    

@media (max-width: 600px) {


   
	.hmbBoton {
		position: absolute;
		margin: 13px 0 0 10px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 7px;
        z-index: 7;
	}


	.hmbBoton:hover .lineOpen{
		background-color: white;
	}


	.hmbBoton:hover .Cross{
		background-color: white;
	}

	.line {
		transition: 300ms;
		border-radius: 3px;
		margin-top: -22px;
		width: 30px;
		height: 5px;
		background-color: white;
		box-shadow: 0 10px 0 0 white,  0 20px 0 0 white;
	}

	.lineOpen {
		transition: 100ms;
		transform: rotate(45deg);
		border-radius: 3px;
		width: 30px;
		height: 5px;
		background-color: white;
        z-index: 7;

	}

	.Cross {
		display: none;
		transition: 100ms;
		transform: rotate(90deg);
		border-radius: 3px;
		width: 30px;
		height: 5px;
		background-color: white;
        z-index: 7;
	}

	.menuMobile {
		background-color: #9712A4;
		border-radius:50%;
		width: 400px;
		height: 350px;
		margin: -40px 0 0 -150px;
		display: none;
		justify-content: center;
		text-align: center;
		align-items: center;
		z-index: 0;
		box-shadow: 10px 10px 10px 0 rgb(0,0,0,0.2),
					0 0 5px 5px rgb(0,0,0,0.15);
        z-index: 6;
	}

	.menuMobile ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0 -80px -100px 0;
		}

	.menuMobile li {
		display: flex;
		background-color: #9712A4;
		background-image: transparent;
		padding: 15px;
		border-radius: 5px;
		margin-bottom:20px;
	}

    .btnLogin a{
        margin-bottom: 35px;
       
    }

   

	.menuMobile li:hover {
		display: flex;
		background-color: white;
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 30px;
	}

	.menuMobile li:hover a {
		text-decoration: none;
		user-select: none;
		color: #9712A4;
		font-size: 18px;
	}

	.menuMobile ul a {
		text-decoration: none;
		user-select: none;
		color: white;
		font-family: 'Mulish', sans-serif;
	}

	.menuWeb {
		display: none;

	}
    
    .imgLogo{
       display: none;
       

    }

	footer{
		height: fit-content;
	   display: flex;
	   flex-direction: column;
	   align-items: center;
	   color:white;
	   background-color:blueviolet;
	}

	.padreFooter{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 8px;

		
	}

	.divsFooter {
		margin-top: 10px;
		font-size: 12px;
	}

    .listaVideos li{
        margin-top: 5px;
    }

  
    
}

@media (max-width: 600px) and (min-width: 320px){
    .listaVideos{
        height: 300px;
    }
}

@media (min-width: 600px) {

  

	header {
		transition: 500ms;
		height: 120px;
	}

	.menuMobile {
		display: none;
	}

	.menuMobile ul a {
		display: none;
	}

	.menuWeb {
		display: flex;
		justify-content: end;
		align-items: center;
		height: 50px;
		width: 100%;
		margin-top: 8px;
	}

	.menuWeb ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		}

	.menuWeb li {
		transition: 500ms;
		display: flex;
		padding: 10px;
		border-radius: 5px;
       margin-right: 8px;
	}


	.menuWeb li:hover {
		transition: 500ms;
		background-color:rgba(255, 255, 255, 0.549);
	}

	.menuWeb li:hover a {
		color: white;
	}

	.menuWeb ul a {
		text-decoration: none;
		user-select: none;
		color: white;
		font-family: 'Mulish', sans-serif;
	}

   
    .imgLogo{
        margin-left: 15px;
        margin-top: 5px;
    }

}



.btnPractica{
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  
    
   }
   
   .btnPractica:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   .btnPractica span {
    position: absolute;
   }
   
   .btnPractica span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   .btnPractica:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   .btnPractica span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   .btnPractica:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   .btnPractica span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   .btnPractica:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   .btnPractica span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   .btnPractica:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   .btnPractica:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   .btnPractica:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }


/* From uiverse.io by @barisdogansutcu */
.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
    margin-left: 30px;
    margin-bottom: 30px;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01d1e0;
    border: solid 1px #0153e02d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }



.textF {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    padding-left: 1%;
    margin-bottom: 10px;
  
}
   
.rutas{
    text-transform: uppercase;
    font-size: 28px;
    margin: 10px;
    margin-left: 1%;
    font-weight: bold;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }